html, body {
  padding: 0;
  margin: 0;
  background: rgb(51, 51, 68);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html.iframe,
html.iframe body {
  background: unset;
}

h1,
h2,
h3 {
  color: white;
  padding: 10px;
  margin: 0;
}

.artwork ol,
ul.brainstorms,
ul.categories,
ol.brainstorms,
ol.categories,
ol.windows {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: block;
  text-align: center;
  max-width: 1000px;
}

.artwork ol>li,
ul.brainstorms>li,
ul.categories>li,
ol.brainstorms>li,
ol.categories>li,
ol.windows>li,
a.nowButton,
label[for="federal"] {
  border: 5px solid transparent;
  border-radius: 10px;
  background: #226;
  position: relative;
  display: inline-block;
  background-clip: padding-box;
  z-index: unset;
  list-style: none;
  text-align: left;
}

.artwork ol>li a,
ul.brainstorms>li a,
ul.categories>li a,
ol.brainstorms>li a,
ol.categories>li a,
ol.windows>li a,
a.nowButton,
label[for="federal"] {
  display: block;
  text-decoration: none;
  color: white;
  min-width: 200px;
  text-align: center;
}

.artwork ol>li label,
ul.brainstorms>li label,
ul.things>li label,
ol.brainstorms>li label,
ol.categories>li label,
ol.windows>li label,
a.nowButton,
label[for="federal"] {
  display: block;
  cursor: pointer;
  padding: 10px;
}

a.nowButton,
label[for="federal"] {
  display: inline-block;
}

input[id*="clip-men"]:checked ~ .places>li:nth-child(1)::after,
input[id*="hamsters"]:checked ~ .places>li:nth-child(2)::after,
input[id*="angels"]:checked ~ .places>li:nth-child(3)::after,
input[id*="sheep"]:checked ~ .places>li:nth-child(4)::after,
input[id*="surreal"]:checked ~ .places>li:nth-child(5)::after,

input[id*="christmas"]:checked ~ .holidays>li:nth-child(1)::after,
input[id*="halloween"]:checked ~ .holidays>li:nth-child(2)::after,
input[id*="newyears"]:checked ~ .holidays>li:nth-child(3)::after,

input[id*="christmas"]:checked ~ .patterns>li:nth-child(1)::after,
input[id*="halloween"]:checked ~ .patterns>li:nth-child(2)::after,
input[id*="newyears"]:checked ~ .patterns>li:nth-child(3)::after,
input[id*="cosmic"]:checked ~ .patterns>li:nth-child(4)::after,

input[id*="complex"]:checked ~ .scenes>li:nth-child(1)::after,
input[id*="industry"]:checked ~ .scenes>li:nth-child(2)::after,
input[id*="whimsical"]:checked ~ .scenes>li:nth-child(3)::after,
input[id*="loving"]:checked ~ .scenes>li:nth-child(4)::after,
input[id*="world"]:checked ~ .scenes>li:nth-child(5)::after,

input[id*="clip-pattern"]:checked ~ .pattern>li:nth-child(1)::after,
input[id*="nopattern"]:checked ~ .pattern>li:nth-child(2)::after,

input[id*="clip-enoki"]:checked ~ .other>li:nth-child(1)::after,
input[id*="desserts"]:checked ~ .other>li:nth-child(2)::after,
input[id*="love"]:checked ~ .other>li:nth-child(3)::after,
input[id*="circuitry"]:checked ~ .other>li:nth-child(4)::after,
input[id*="destijl"]:checked ~ .other>li:nth-child(5)::after,
input[id*="theories"]:checked ~ .other>li:nth-child(6)::after,

input[id*="anime"]:checked ~ .styles>li:nth-child(1)::after,
input[id*="robotic"]:checked ~ .styles>li:nth-child(2)::after,
input[id*="steampunk"]:checked ~ .styles>li:nth-child(3)::after,
input[id*="retro"]:checked ~ .styles>li:nth-child(4)::after,
input[id*="fantasy"]:checked ~ .styles>li:nth-child(5)::after,
input[id*="popart"]:checked ~ .styles>li:nth-child(6)::after,
input[id*="gothic"]:checked ~ .styles>li:nth-child(7)::after,
input[id*="cyberpunk"]:checked ~ .styles>li:nth-child(8)::after,

input[id*="animals"]:checked ~ .things>li:nth-child(1)::after,
input[id*="places"]:checked ~ .things>li:nth-child(2)::after,
input[id*="styles"]:checked ~ .things>li:nth-child(3)::after,
input[id*="holidays"]:checked ~ .things>li:nth-child(4)::after,
input[id*="patterns"]:checked ~ .things>li:nth-child(5)::after,
input[id*="cosmic"]:checked ~ .things>li:nth-child(6)::after,
input[id*="buildings"]:checked ~ .things>li:nth-child(7)::after,
input[id*="scenes"]:checked ~ .things>li:nth-child(8)::after,
input[id*="other"]:checked ~ .things>li:nth-child(9)::after,

.artwork ol>li:hover::after,
ul.brainstorms>li:hover::after,
ul.categories>li:hover::after,
ol.brainstorms>li:hover::after,
ol.categories>li:hover::after,
ol.windows>li.active::after {
  content: " ";
  background: linear-gradient(45deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%);
  border-image-slice: 1;
  border-radius: 10px;
  position: absolute;
  z-index: -1;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;

}

/* SPA with no javascript, enjoy */
.artwork input,
input[name*="federal"],
input[name*="category"],
input[name*="brainstorm"] {
  opacity: 0;
  height: 1px;
  width: 1px;
  position: absolute;
  right: -1px;
  bottom: -1px;
}

input[id*="scenes"]:checked ~ ol.scenes,
input[id*="scenes"]:checked ~ h2.scenes,
input[id*="other"]:checked ~ ol.other,
input[id*="other"]:checked ~ h2.other,
input[id="clip-cosmic"]:checked ~ ol.cosmic,
input[id="clip-cosmic"]:checked ~ h2.cosmic,
input[id="clip-cosmic"]:checked ~ ol.pattern,
input[id="clip-cosmic"]:checked ~ h2.pattern,
input[id*="buildings"]:checked ~ ol.buildings,
input[id*="buildings"]:checked ~ h2.buildings,
input[id*="buildings"]:checked ~ ol.styles,
input[id*="buildings"]:checked ~ h2.styles,
input[id*="animals"]:checked ~ ol.animals,
input[id*="animals"]:checked ~ h2.animals,
input[id*="animals"]:checked ~ ol.styles,
input[id*="animals"]:checked ~ h2.styles,
input[id*="styles"]:checked ~ ol.styles,
input[id*="styles"]:checked ~ h2.styles,
input[id*="places"]:checked ~ ol.places,
input[id*="places"]:checked ~ h2.places,
input[id*="holidays"]:checked ~ ol.holidays,
input[id*="holidays"]:checked ~ h2.holidays,
input[id*="patterns"]:checked ~ ol.patterns,
input[id*="patterns"]:checked ~ h2.patterns,
input:checked+ul.bookmarks,
input:checked+ul.brainstorm,
input:checked+ol.bookmarks,
input:checked+ol.brainstorm {
  display: block;
}

ol.bookmarks li,
ul.bookmarks li {
  padding: 5px;
}

ol.bookmarks a,
ul.bookmarks a {
  color: white;
  text-decoration: none;
}

ol.bookmarks a:hover,
ul.bookmarks a:hover {
  text-decoration: underline;
}


input[name="federal"]:checked ~ * label[for="federal"] {
  color: #226;
  background-color: white;
}

input[name="federal"]:checked ~ .container:not(.federal):not(.flex) {
  display: none;
}

input[name="federal"]:checked ~ .container.federal {
  display: block;
}

h2.scenes,
ol.scenes,
h2.other,
ol.other,
h2.patterns,
ol.patterns,
h2.holidays,
ol.holidays,
h2.places,
ol.places,
h2.pattern,
ol.pattern,
ol.animals,
h2.animals,
h2.styles,
ol.styles,
ul.bookmarks,
ul.brainstorm,
ol.bookmarks,
ol.brainstorm {
  display: none;
}

ul.clipart {
  list-style: none;
  display:flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width:100%;
}

ul.clipart li {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  width:100%;
}


html.iframe ul.clipart li {
  flex:33.3%;
  padding-top:33.33%;
}

ul.clipart a {
  position:relative;
  height: 100%;
  width: 100%;
  display: block;
}

.clipart iframe {
  display:inline-block;
  height: 800px;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.clipart li,
.clipart img {
  display:none;
  width: 512px;
  visibility: hidden;
}


input[id*="cosmic"]:checked ~ input[id*="clip-pattern"]:checked ~ .clipart>li.cosmic.patterns,
input[id*="cosmic"]:checked ~ input[id*="nopattern"]:checked ~ .clipart>li.cosmic:not(.patterns),

input[id*="other"]:checked ~ input[id*="clip-enoki"]:checked ~ .clipart>li.enoki.professions,
input[id*="other"]:checked ~ input[id*="desserts"]:checked ~ .clipart>li.manga.desserts,
input[id*="other"]:checked ~ input[id*="love"]:checked ~ .clipart>li.love.languages.styles,
input[id*="other"]:checked ~ input[id*="circuitry"]:checked ~ .clipart>li.geometric.circuitry:not(.de.stijl),
input[id*="other"]:checked ~ input[id*="destijl"]:checked ~ .clipart>li.geometric.circuitry.de.stijl,
input[id*="other"]:checked ~ input[id*="theories"]:checked ~ .clipart>li.theories.neoexpressionism,

input[id*="holidays"]:checked ~ input[id*="clip-christmas"]:checked ~ .clipart>li.christmas.patterns,
input[id*="holidays"]:checked ~ input[id*="halloween"]:checked ~ .clipart>li.halloween.patterns,
input[id*="holidays"]:checked ~ input[id*="newyears"]:checked ~ .clipart>li.new.years.patterns,

input[id*="patterns"]:checked ~ input[id*="christmas"]:checked ~ .clipart>li.christmas.patterns,
input[id*="patterns"]:checked ~ input[id*="halloween"]:checked ~ .clipart>li.halloween.patterns,
input[id*="patterns"]:checked ~ input[id*="newyears"]:checked ~ .clipart>li.new.years.patterns,
input[id*="patterns"]:checked ~ input[id*="cosmic"]:checked ~ .clipart>li.cosmic.patterns,

input[id*="places"]:checked ~ input[id*="clip-men"]:checked ~ .clipart>li.places.men.suits,
input[id*="places"]:checked ~ input[id*="hamsters"]:checked ~ .clipart>li.places.hamster,
input[id*="places"]:checked ~ input[id*="angels"]:checked ~ .clipart>li.places.angels,
input[id*="places"]:checked ~ input[id*="sheep"]:checked ~ .clipart>li.places.sheep.deco,
input[id*="places"]:checked ~ input[id*="surreal"]:checked ~ .clipart>li.places.sheep.surrealism,

input[id*="buildings"]:checked ~ input[id*="steampunk"]:checked ~ .clipart>li.buildings.steampunk,
input[id*="buildings"]:checked ~ input[id*="cyberpunk"]:checked ~ .clipart>li.buildings.cyberpunk,
input[id*="buildings"]:checked ~ input[id*="gothic"]:checked ~ .clipart>li.buildings.gothic,
input[id*="buildings"]:checked ~ input[id*="popart"]:checked ~ .clipart>li.buildings.pop,
input[id*="buildings"]:checked ~ input[id*="fantasy"]:checked ~ .clipart>li.buildings.fantasy,
input[id*="buildings"]:checked ~ input[id*="robotic"]:checked ~ .clipart>li.buildings.robotic,
input[id*="buildings"]:checked ~ input[id*="retro"]:checked ~ .clipart>li.buildings.retro,
input[id*="buildings"]:checked ~ input[id*="anime"]:checked ~ .clipart>li.buildings.anime,

input[id*="animals"]:checked ~ input[id*="steampunk"]:checked ~ .clipart>li.animals.steampunk,
input[id*="animals"]:checked ~ input[id*="cyberpunk"]:checked ~ .clipart>li.animals.cyberpunk,
input[id*="animals"]:checked ~ input[id*="gothic"]:checked ~ .clipart>li.animals.gothic,
input[id*="animals"]:checked ~ input[id*="popart"]:checked ~ .clipart>li.animals.pop,
input[id*="animals"]:checked ~ input[id*="fantasy"]:checked ~ .clipart>li.animals.fantasy,
input[id*="animals"]:checked ~ input[id*="robotic"]:checked ~ .clipart>li.animals.robotic,
input[id*="animals"]:checked ~ input[id*="retro"]:checked ~ .clipart>li.animals.retro,
input[id*="animals"]:checked ~ input[id*="anime"]:checked ~ .clipart>li.animals.anime,
input[id*="animals"]:checked ~ input[id*="anime"]:checked ~ .clipart>img.animals.anime {
  display:inline-block;
  visibility: visible;
}

.iframe .clipart li:nth-of-type(1),
.iframe .clipart li:nth-of-type(2),
.iframe .clipart li:nth-of-type(3),
.iframe .clipart li:nth-of-type(4),
.iframe .clipart li:nth-of-type(5),
.iframe .clipart li:nth-of-type(6)
 {
  display:inline-block;
  visibility: visible;
}

/*
input[id*="cosmic"]:checked ~ input[id*="clip-pattern"]:checked ~ .clipart>li.cosmic.patterns ~ .cosmic.patterns ~ .cosmic.patterns ~ .cosmic.patterns ~ .cosmic.patterns ~ .cosmic.patterns ~ .cosmic.patterns ~ li,
input[id*="cosmic"]:checked ~ input[id*="nopattern"]:checked ~ .clipart>li.cosmic:not(.patterns) ~ .cosmic:not(.patterns) ~ .cosmic:not(.patterns) ~ .cosmic:not(.patterns) ~ .cosmic:not(.patterns) ~ .cosmic:not(.patterns) ~ li,

input[id*="holidays"]:checked ~ input[id*="christmas"]:checked ~ .clipart>li.christmas.patterns ~ .christmas.patterns ~ .christmas.patterns ~ .christmas.patterns ~ .christmas.patterns ~ .christmas.patterns ~ li,
input[id*="holidays"]:checked ~ input[id*="halloween"]:checked ~ .clipart>li.halloween.patterns ~ .halloween.patterns ~ .halloween.patterns ~ .halloween.patterns ~ .halloween.patterns ~ .halloween.patterns ~ li,
input[id*="holidays"]:checked ~ input[id*="newyears"]:checked ~ .clipart>li.new.years.patterns ~ .new.years.patterns ~ .new.years.patterns ~ .new.years.patterns ~ .new.years.patterns ~ .new.years.patterns ~ li,

input[id*="places"]:checked ~ input[id*="clip-men"]:checked ~ .clipart>li.places.men.suits ~ .places.men.suits ~ .places.men.suits ~ .places.men.suits ~ .places.men.suits ~ .places.men.suits ~ li,
input[id*="places"]:checked ~ input[id*="hamsters"]:checked ~ .clipart>li.places.hamster ~ .places.hamster ~ .places.hamster ~ .places.hamster ~ .places.hamster ~ .places.hamster ~ li,
input[id*="places"]:checked ~ input[id*="angels"]:checked ~ .clipart>li.places.angels ~ .places.angels ~ .places.angels ~ .places.angels ~ .places.angels ~ .places.angels ~ li,

input[id*="buildings"]:checked ~ input[id*="steampunk"]:checked ~ .clipart>li.buildings.steampunk ~ .buildings.steampunk ~ .buildings.steampunk ~ .buildings.steampunk ~ .buildings.steampunk ~ .buildings.steampunk ~ li,
input[id*="buildings"]:checked ~ input[id*="cyberpunk"]:checked ~ .clipart>li.buildings.cyberpunk ~ .buildings.cyberpunk ~ .buildings.cyberpunk ~ .buildings.cyberpunk ~ .buildings.cyberpunk ~ .buildings.cyberpunk ~ li,
input[id*="buildings"]:checked ~ input[id*="gothic"]:checked ~ .clipart>li.buildings.gothic ~ .buildings.gothic ~ .buildings.gothic ~ .buildings.gothic ~ .buildings.gothic ~ .buildings.gothic ~ li,
input[id*="buildings"]:checked ~ input[id*="popart"]:checked ~ .clipart>li.buildings.pop ~ .buildings.pop ~ .buildings.pop ~ .buildings.pop ~ .buildings.pop ~ .buildings.pop ~ li,
input[id*="buildings"]:checked ~ input[id*="fantasy"]:checked ~ .clipart>li.buildings.fantasy ~ .buildings.fantasy ~ .buildings.fantasy ~ .buildings.fantasy ~ .buildings.fantasy ~ .buildings.fantasy ~ li,
input[id*="buildings"]:checked ~ input[id*="robotic"]:checked ~ .clipart>li.buildings.robotic ~ .buildings.robotic ~ .buildings.robotic ~ .buildings.robotic ~ .buildings.robotic ~ .buildings.robotic ~ li,
input[id*="buildings"]:checked ~ input[id*="retro"]:checked ~ .clipart>li.buildings.retro ~ .buildings.retro ~ .buildings.retro ~ .buildings.retro ~ .buildings.retro ~ .buildings.retro ~ li,
input[id*="buildings"]:checked ~ input[id*="anime"]:checked ~ .clipart>li.buildings.anime ~ .buildings.anime ~ .buildings.anime ~ .buildings.anime ~ .buildings.anime ~ .buildings.anime ~ li,

input[id*="animals"]:checked ~ input[id*="steampunk"]:checked ~ .clipart>li.animals.steampunk ~ .animals.steampunk ~ .animals.steampunk ~ .animals.steampunk ~ .animals.steampunk ~ .animals.steampunk ~ li,
input[id*="animals"]:checked ~ input[id*="cyberpunk"]:checked ~ .clipart>li.animals.cyberpunk ~ .animals.cyberpunk ~ .animals.cyberpunk ~ .animals.cyberpunk ~ .animals.cyberpunk ~ .animals.cyberpunk ~ li,
input[id*="animals"]:checked ~ input[id*="gothic"]:checked ~ .clipart>li.animals.gothic ~ .animals.gothic ~ .animals.gothic ~ .animals.gothic ~ .animals.gothic ~ .animals.gothic ~ li,
input[id*="animals"]:checked ~ input[id*="popart"]:checked ~ .clipart>li.animals.pop ~ .animals.pop ~ .animals.pop ~ .animals.pop ~ .animals.pop ~ .animals.pop ~ li,
input[id*="animals"]:checked ~ input[id*="fantasy"]:checked ~ .clipart>li.animals.fantasy ~ .animals.fantasy ~ .animals.fantasy ~ .animals.fantasy ~ .animals.fantasy ~ .animals.fantasy ~ li,
input[id*="animals"]:checked ~ input[id*="robotic"]:checked ~ .clipart>li.animals.robotic ~ .animals.robotic ~ .animals.robotic ~ .animals.robotic ~ .animals.robotic ~ .animals.robotic ~ li,
input[id*="animals"]:checked ~ input[id*="retro"]:checked ~ .clipart>li.animals.retro ~ .animals.retro ~ .animals.retro ~ .animals.retro ~ .animals.retro ~ .animals.retro ~ li,
input[id*="animals"]:checked ~ input[id*="anime"]:checked ~ .clipart>li.animals.anime ~ .animals.anime ~ .animals.anime ~ .animals.anime ~ .animals.anime ~ .animals.anime ~ li
{
  display:none;
  visibility: hidden;
}
*/

div.livedev {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  max-height: 460px;
}

div.livedev p {
  text-align: center;
  padding-bottom: 60%;
}

div.livedev iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.vis-item-content a {
  text-decoration: none;
}

header {
  background: rgba(0, 0, 0, 0.8);
  display: block;
}

div.container {
  width: 21cm;
  padding: 20mm 16mm;
  background: #222;
  box-shadow: rgb(0 0 0 / 50%) 2px 3px 10px;
  margin: 20px auto;
  border-radius: 2px;
  border: 1px solid #666;
  position: relative;
  z-index: 1;
}

div.container.artwork {
  max-height: 1000px;
  overflow: clip;
}

div.container.federal {
  display: none;
}

div.container.flex {
  display: flex;
}

div.container.timeline {
  position: relative;
}

div.container.timeline p {
/*  padding-bottom: 80%; */
}

div.container.timeline .history-item .time {
  display: inline-block;
  width: 150px;
  box-sizing: border-box;
}

div.container.timeline .history-item .content {
  display: inline-block;
  width: 100%;
  margin-left: -150px;
  padding-left: 150px;
  box-sizing: border-box;
}

.history-item {
  border-left: 10px solid transparent;
}

.history-item {
  border-left: 10px solid transparent;
}

.history-item.Predictions {
  border-left: 10px solid #09F;
}

.history-item.Revelation {
  border-left: 10px solid #F90;
}

.history-item.Emotions {
  border-left: 10px solid #999;
}

.history-item.Iga {
  border-left: 10px solid #93F;
}

.history-item.Robot_do {
  border-left: 10px solid #3F3;
}

.history-item.General {
  border-left: 10px solid #363;
}

.history-item.Diet {
  border-left: 10px solid #F30;
}

div.container.projects svg,
div.container.projects img {
  max-width: 100%;
}

#visualization,
#visualization2 {
  position: absolute !important;
  bottom: 20px;
  left: 20px;
  top: 220px;
  right: 20px;
  height: auto;
  width: auto;
}

.vis-timeline {
  height: 100% !important;
}

.container .vis-item .vis-item-content {
  white-space: normal;
}

.vis-item.vis-box {
  max-width: 250px;
}

.container .vis-time-axis .vis-text,
.container .vis-labelset .vis-label {
  color:white;
}

@media all and (max-width: 1000px) {
  div.container {
    width: auto;
    margin: 20px 20px;
  }

}

@media all and (max-width: 600px) {
  div.container {
    padding: 30px 20px;
  }

  div.container.flex {
    flex-direction: column;
  }


  ul.brainstorms>li a,
  ul.categories>li a,
  ul.windows>li a,
  ol.brainstorms>li a,
  ol.categories>li a,
  ol.windows>li a,
  a.nowButton,
  label[for="federal"] {
    min-width: unset;
  }
}
